.list {
    width: 100%;
    margin-bottom: 25px;
    overflow-x: clip;
}

.list .listTitle {
    color: white;
    margin-left: 50px;
}

.listTitle > img {
    margin-bottom: 20px;
    height: 50px;
}

.list .wrapper {
    position: relative;
}

.list .wrapper .sliderArrow {
    width: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(.20rem); 
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.list .wrapper .sliderArrow.left {
    left: 0;
    opacity: 0;
}

.list .wrapper .sliderArrow.left:hover {
    opacity: 1;
}

.list .wrapper .sliderArrow.right {
    right: 0;
    opacity: 0;
}

.list .wrapper .sliderArrow.right:hover {
    opacity: 1;
}

.list .wrapper .container {
    margin-left: 50px;
    display: flex;
    width: max-content;
    transform: translateX(0px);
    transition: all 1s ease;
}
