#home {
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(#16161D, rgb(26, 23, 23));
}

#video-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    object-fit: contain;
}

#tc-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    top: 200px;
    left: 50px;
    position: absolute;
}

#DStitlecard {
    width: 100%;
    z-index: 2;
    filter: drop-shadow(0px 0px 40px white);
    animation: anime 2s infinite ease-in-out alternate;
    -webkit-animation: anime 2s infinite ease-in-out alternate;
}

@keyframes anime {
    100%{
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
}

#btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-container Button {
    margin: 5px;
    padding: 10px;
}

#btn-play {
    background: rgba(225, 225, 225, 0.4);
    backdrop-filter: blur(.20rem); 
    z-index: 2;
}

#btn-play:hover {
    background: rgba(225, 225, 225, 0.8);
}

#btn-mi {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(.20rem); 
    z-index: 2;
}

#btn-mi:hover {
    background: rgba(0, 0, 0, 0.8);
}

#video-frame {
    position: absolute;
    top: -100px;
    z-index: -1;
}

#audio {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    background: rgba(225, 225, 225, 0.4);
    backdrop-filter: blur(.20rem); 
    border-radius: 50px;
    margin-left: 50px;
}

#mute {
    position: absolute;
    height: 75%;
    width: 75%;
    z-index: 2;
}

#voice {
    width: 75%;
    height: 75%;
    position: absolute;
    z-index: 2;
}

#movie-carousel {
    margin-top: -150px;
    z-index: 2;
    position: relative;
}




/* <--- responsive ---> */

@media only screen and (max-width: 991px) {
    #tc-container {
        width: 200px;
        height:200px;
        top: 100px;
    }
}