#video-container1 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 10px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff;
}

#tc-container1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    top: 200px;
    left: 50px;
    position: absolute;
}

#pagination-container {
    margin-top: -150px;
    z-index: 2;
    position: relative;
}

.paginationTitle {
    color: white;
    margin-left: 100px;
    height: 50px;
    margin-bottom: -20px;
    filter: drop-shadow(0px 0px 40px white);
}

.pagination {
    --bs-pagination-bg: rgba(225, 225, 225, 0.8)!important;
    --bs-pagination-color: black!important;
    --bs-pagination-hover-color: white!important;
    --bs-pagination-hover-bg: transparent!important;
    --bs-pagination-hover-bg: #00b3ff!important;
    --bs-pagination-active-bg: #00b3ff!important;
}
