.welcome-container {
    width: 100%;
    height: 250vh;
    position: relative;
    background: linear-gradient(transparent, #16161D);
}

.welcome-container > img {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
    position: absolute;
    z-index: -2;
}

.welcome-container::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: -1;
    position: absolute;
}

.welcome-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    z-index: 1;
}

#header-1 {
    align-items: center;
    top: 0;
    width: 800px;
    height: 100px;
    z-index: 1;
    position: relative;
}

#welcome-logo {
    width: 75px;
    height: 75px;
    z-index: 1;
    position: absolute;
    align-self: flex-start;
}

#btn {
    position: absolute;
    align-self: flex-end;
}

#welcome-info {
    height: 500px;
}

#unli {
    color: #00b3ff;
}

#input-container {
    width: 400px;
    margin-right: 5px;
}

#input-text {
    border: 0;
    background: rgba(39, 34, 60, 0.85);
    outline: none;
    color: white;
    transition: 0.5s;
    border: 1px solid transparent;
}