body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    z-index: 10;
}

#header-nav {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 20px black,
    0 0 40px black,
    0 0 80px black,
    0 0 160px black,
    0 0 320px black,
    0 0 640px black,
    0 0 1280px black!important;
}

#header-nav:hover {
    color: #00b3ff;
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 100px #00b3ff!important;
    transition: all;
}

.nav-link {
    text-shadow: 0 0 20px black,
    0 0 40px black,
    0 0 80px black,
    0 0 160px black,
    0 0 320px black,
    0 0 640px black,
    0 0 1280px black!important;
}

.nav-link:hover {
    color: #00b3ff;
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 100px #00b3ff!important;
    transition: all;
}

.headertp {
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 10;
}

.headertp:hover {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(.20rem);
}

.headertp.glass {
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(.20rem);
    z-index: 10;
}

.headertp img {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.dropdown-menu {
    --bs-dropdown-bg: rgba(0, 0, 0, 0.8)!important;
    --bs-dropdown-color: white!important;
    --bs-dropdown-link-color: white!important;
    margin-top: 12.5px!important;
}

.drop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(.20rem);
    transform: translateY(100px);
}

.form-control {
    background-color: transparent;
    backdrop-filter: blur(.20rem);
    color: white;
}

.form-control:focus {
    background-color: transparent;
    backdrop-filter: blur(.20rem);
    color: white;
}

.form-control::-ms-input-placeholder {
    color: white!important;
}

#popular, #newreleases, #upcomingmovies, #mylist {
    width: 100%;
    color: white;
    background: #16161D;
}

#carousel-img {
    -webkit-animation: backdrop 10s;
    -o-animation: backdrop 10s;
    animation: backdrop 10s ;
}
@keyframes backdrop {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.footer > nav > a {
    margin: .2em;
}

.copyright {
    font-size: .7rem;
    color: #00b3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {

    

}